@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #F0F0F0;
  font-family: 'Roboto', sans-serif; 
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body > header, body > main, body > footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

header, footer {
  background-color: #333333;
  color: #F0F0F0;
  text-align: center;
  padding: 1.5em;
}

h1 { 
  margin: 0;
  color: #ff4b87;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  padding: 0;
  margin: 1em 0 0 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  position: relative; 
}


nav a {
  text-decoration: none;
  color: #ff4b87;
  font-weight: bold;
  font-size: 1.1em;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background-color: #ffffff;
  padding: 2em;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

main img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 1em auto;
  border-radius: 50%;
}

h2, h3 { 
  font-family: 'Roboto', sans-serif; 
  color: #ff4b87;
}

a {
  color: #ff4b87;
}

a:hover {
  text-decoration: none;
}

footer a {
  color: #ff4b87;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -0.3em; 
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  display: block;
  margin: 0;
}

.dropdown-content a {
  color: #ff4b87;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: #ff4b87;
  color: #2F4F4F;
}