<header>
  <a href="../index.html">
    <img src="../images/snake_logo.png" alt="Sal's Sneaky Snake Logo" class="logo">
  </a>
  <h1>Sal's Sneaky Snake — WEB115</h1>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li class="dropdown">
        <a href="#">Introduction</a>
        <ul class="dropdown-content">
          <li><a href="../introduction.html">Introduction</a></li>
          <li><a href="../introductionform.html">Introduction Form</a></li>
        </ul>
      </li>
      <li><a href="../contract.html">Contract</a></li>
      <li><a href="../brand.html">Brand Page</a></li>
      <li class="dropdown">
        <a href="#">FizzBuzz</a>
        <ul class="dropdown-content">
          <li><a href="../fizzbuzz/fizzbuzz0.html">FizzBuzz 0</a></li>
          <li><a href="../fizzbuzz/fizzbuzz1.html">FizzBuzz 1</a></li>
          <li><a href="../fizzbuzz/fizzbuzz2.html">FizzBuzz 2</a></li>
          <li><a href="../fizzbuzz/fizzbuzz3.html">FizzBuzz 3</a></li>
          <li><a href="../fizzbuzz/fizzbuzz4.html">FizzBuzz 4</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
