<h1>Sal's Sneaky Snake — WEB250</h1>
<nav>
  <ul>
    <li><a href="index.php">Home</a></li>
    <li><a href="/joyofphp/joyphp/src/index.php">Joy of PHP</a></li>
    <li><a href="/joyofphp/joyphp/src/samsusedcars.html">Sam's Used Cars</a></li>
      <li><a href="/carapp/index.php">Car App</a></li>

    <li class="dropdown">
      <a href="#">Content</a>
        <ul class="dropdown-content">
          <li><a href="template.php">Template Page</a></li>
          <li><a href="introduction.php">Introduction</a></li>
          <li><a href="contract.php">Contract</a></li>
        </ul>
      </li>
    <li class="dropdown">
      <a href="#">Sites</a>
        <ul class="dropdown-content">
          <li><a href="../onepagesite/index.php">Onepage Site</a></li>
          <li><a href="../web250_static/index.html">Multipage Site Static</a></li>
        </ul>
      </li>
  </ul>
</nav>